<div class="container">
    <div class="row d-flex justify-content-between">
        <div class="col-6">
            <span class="text-muted">
                <i class="fas fa-heart text-danger"></i>
                Developed by Jordany
            </span>
        </div>
        <div class="col-6 d-flex justify-content-end"><a class="back-to-top" href="#">Back to top</a></div>
    </div>
    <div class="row justify-content-between">
        <div class="col-6">
            <span class="text-muted">
                <i class="fas fa-copyright"></i>
                2023
            </span>
        </div>
    </div>
</div>