<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <!-- usando o font-awesome -->
            <i class="fas fa-camera-retro"></i><strong class="ps-2">Gallery</strong>
        </a>
        <button class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#header">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="bg-dark collapse" id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">Writing something about you ...</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <!-- Uma lista sem estilos -->
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="text-white">Twitter</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Facebook</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Email</a>
                    </li>
                </ul> 
            </div>
        </div>
    </div>
</div>